body{
    background-color: white;
    max-width: 90%;
    width: 90%;
    margin: auto
   }

h1{
	font-family: 'Martel Sans', sans-serif;
 }

h2 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  max-height: auto;
}